aside#secondary {
	background-color: $soft_background;
	padding: 1.5em 0.5em;
	max-width: 320px;
}

.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
}

.wp-block-search__inside-wrapper {
	border-radius: 5px;
	overflow: hidden;

	.wp-block-search__input {
		border-radius: 0px !important;
		height: 2rem;
		border: 0;
		outline: 0;
		box-shadow: inset 0 2px 1px rgba(0,0,0,0.25);
		padding: 0.4rem;
		font-size: 0.75rem;

		&::placeholder {
			font-style: oblique;
		}
	}
	
	.wp-block-search__button {
		border-radius: 0px !important;
		height: 2rem;
		width:2rem;
		margin-left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $secondary;
		color: white;
		padding: 0px;
	}
}
